[toolchain]

[features]
resolution = true
skip-lint = false

[programs.localnet]
soltix_program = "QoWSByU5eAUTSrZebW1q8xRMuAkuvgsiqwEZ16EVRHJ"

[programs.devnet]
soltix_program = "QoWSByU5eAUTSrZebW1q8xRMuAkuvgsiqwEZ16EVRHJ"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"

[workspace]
members = ["programs/*"]
